ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  align-items: center;
}
ul li:hover {
  background: #f3f3f3;
}
    
#list{
    background-color: rgba(111, 89, 89, 0.196);
}

.delete {
  height: 28px;
    padding: 5px 0px;
    border-radius: 3px;
}
.delete:hover {
  background: #f2f2f2;
  cursor: pointer;
}
 
.fav{
    height: 100px;
    width: 100px;
}